@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion one' , 'cursive' ;
    --font3: 'Sriracha' , 'cursive';
}

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    padding: 50px;
}

header h1{
    color: white;
    font-family: var(--font2);
    text-align: center;
    font-variant: small-caps;
    font-size: 10vw;
}

header p{
    color: white;
    font-family: var(--font1);
    font-size: 16px;
    text-align: center;
}

header a{
    font-family: var(--font1);
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
}

#unico{
    padding-top: 61px;
}

section{
    padding-top: 30px;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
    line-height: 2em;
}

#imagem1{
    max-height: 300px;
    margin-top: 79px;
    background-image: url('../imagens/background001.jpg');
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    padding-top: 30px;
    padding-bottom: 63px;
    margin-bottom: 12px;
}

#imagem1 p{
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-top: 30px;
    padding: 5px;
    max-width: 253px;
}

#imagem2{
    margin-top: 83px;
    padding-bottom: 62px;
    background-image: url('../imagens/background002.jpg');
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}

#imagem2 p{
    color: white;
    margin-top: 30px;
    text-shadow: 1px 1px 1px black;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.500);
    width: 258px;
}

footer{
    margin-top: 87px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--font1);
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}
